/* ----------------------------------- Variables */
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin gradient() {
  background: radial-gradient($button-hover 0, rgba(0, 0, 0, 0) 75%);
}

@mixin responsiveItems(){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

@keyframes bigCircle {
  0%,100%   {
    transform: translateY(10px);
  }
  50%  {
    transform: translateY(-10px);
  }
}
@keyframes smallCircle {
  0%,100%   {
    transform: translateY(-10px);
  }
  50%  {
    transform: translateY(20px);
  }
}