/* ----------------------------------- Variables */
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin gradient() {
  background: radial-gradient($button-hover 0, rgba(0, 0, 0, 0) 75%);
}
@keyframes bigCircle {
  0%,100%   {
    transform: translateY(10px);
  }
  50%  {
    transform: translateY(-10px);
  }
}
@keyframes smallCircle {
  0%,100%   {
    transform: translateY(-10px);
  }
  50%  {
    transform: translateY(20px);
  }
}