/*-------------------------------------------------------------SCREEN SISES*/
/*-------------------------------------------------------BIG*/
@media only screen and (min-width: 600px) {
  nav {
    .nav-li p {
      display: none;
    }
  }
  footer {
    #contact {
      display: block;
      position: fixed;
      bottom: 0em;
      left: 1em;
    }
    #contact::after {
      content: "";
      background-color: $acc-2;
      height: 100px;
      display: block;
      width: 2px;
      margin: 0px auto -15px auto;
    }
  }
}
/*-----------------------------------------------------SMALL*/
@media only screen and (max-width: 600px) {
  nav {
    bottom: 0px;
    left: 0px;
    width: 100vw;
    ul {
      margin: 0em;
      p {
        font-size: 1.5em;
      }
      .nav-li {
        padding-top: 1em;
        padding-bottom: 1em;
      }
      .a-logo {
        display: none;
      }
    }
    strong {
      display: none;
    }
  }
  footer {
    margin-bottom: 3em;
    #contact {
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      display: flex;
    }
    a {
      width: 100%;
    }
  }
}
