/*-------------------------------------------------------------SCREEN SISES*/
/*-------------------------------------------------------BIG*/
@media only screen and (min-width: 600px) {
  nav {
    top: 0;
    .nav-li {
      padding-top: 1.5em;
      p {
        display: none;
      }
    }
  }
  section {
    &:not(:first-of-type) {
      flex-direction: row;
      div {
        margin: auto;
        padding: 1em;
      }
    }
  }
  footer {
    #contact {
      display: block;
      position: fixed;
      bottom: 0em;
      left: 1em;
    }
  }
}
/*-----------------------------------------------------SMALL*/
@media only screen and (max-width: 600px) {
  nav {
    bottom: 0px;
    left: 0px;
    width: 100vw;
    .a-logo {
      display: none;
    }
    ul {
      margin: 0em;
      p {
        font-size: 1.5em;
      }
      .nav-li {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
    strong {
      display: none;
    }
  }
  #welcomeSection {
    .topLogo {
      display: block;
      svg {
        height: 10em;
      }
    }
  }
  footer {
    padding-bottom: 6em;
    #contact {
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      display: flex;
    }
    #contact::after {
      display: none;
    }
    a {
      width: 100%;
    }
  }
}
