$fott-back: #2e3133;
$nav-bg: rgba(45, 54, 66, 0.5);
$shadow: #5f5f5fb3;
$bg-1: #202938;
$acc-1: #1792df;
$acc-2: #58d68d;
$txt-1: #949494;
$button-hover: #539e721f;
$shadow: #272727;
$tr-f: 0.1s;
$tr-s: 0.3s;
$rad-1: 0.2em;

footer {
  background: $fott-back;
}
