$fott-back: #2e3133;
$nav-bg: rgba(78, 96, 119, 0.5);
$bg-1: #202938;
$acc-1: #457fa4;
$acc-2: #58d68d;
$txt-1: #949494;
$button-hover: #58d68c1f;
$shadow: #272727;
$tr-f: 0.1s;
$tr-s: 0.3s;
$rad-1: 0.2em;

main {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
}

footer {
  background: $fott-back;
}
