/*

Name:           ROOT FILE FOR A WEBSITE
Designed By:    Robert Binkowski
Date:           25/2/22

*/
/* --------------------------------------- Imports */
@import "../scss/variables";
@import "../scss/mixins";
@import "../scss/screens";

/* ------------------------------------ DEFAULT */
html {
  scroll-behavior: smooth;
  body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    background: $bg-1;
    color: $txt-1;
    text-shadow: 1px 1px 1px $shadow;
    main {
      min-height: 100vh;
      padding-bottom: 1em;
      padding-top: 5em;
    }
    h1,
    h2 {
      text-shadow: 2px 2px 2px $shadow;
    }
  }
  article{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
}
header {
  position: absolute;
  top: 0;
  nav {
    overflow: hidden;
  }
}
a {
  text-decoration: none;
  color: $txt-1;
  font-weight: bold;
  transition: $tr-f;
  &:hover {
    color: $acc-2;
  }
}
em {
  font-weight: bold;
  color: $acc-1;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  margin: 0;
  strong {
    color: $acc-2;
  }
}
/*----------------------------------------------LI*/
li {
  border-radius: $rad-1;
  padding: 0.3em;
  text-shadow: none;
  transition: $tr-f;
  a {
    font-size: 1.5em;
  }
  &:hover {
    @include gradient();
  }
}
/* --------------------------------- Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-1-l;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $acc-2;
  border-radius: $rad-1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $acc-2-d;
}
/* --------------------------------------- MAIN */

section {
  @include flexCenter();
  padding: 1em;
  margin-right: 0;
  margin: auto;
  min-height: 60vh;
  border-radius: $rad-2;
  position: relative;
  &:not(:first-of-type) {
    max-width: 1300px;
    margin-top: 1em;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
    h2{
      position:absolute;
      top: 1em;
      left:1em;
    }
  }
}
.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      1fr
    );
  em {
    padding: 0.5em;
  }
}
/* ------------------------------------- BUTTON */

.button {
  margin: .2em;
  padding: 1em;
  cursor: pointer;
  background-color: $acc-2-t;
  color: $acc-2;
  border-radius: $rad-1;
  border: $acc-2 2px solid;
  transition: $tr-s;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
  &:hover {
    color: $acc-2;
    border-radius: $rad-2;
    // box-shadow: none;
    // @include gradient();
  }
}