@import "mixins";

$fot-back: #353533;
$nav-bg: #ffffff2a;

$shadow: #38353546;

$bg: #ebebeb;
$bg-dark: #35435c;

$acc-1: #009087;
$acc-2: #005b90;

$red: #fd2828;

$txt: #202938;
$txt-grey: #797979;
$txt-light: #ffffff;

$blur: 15px;

$button-hover: #00908740;

$tr-f: 0.1s;
$tr-s: .3s;


$rad-1: 3em;
$rad-2: 0.3em;
