/*
*
* Name:           Root file for Sass
* Designed By:    Robert Binkowski
*
*/
/**
*  Imports
*/
@use './screens';
@use './variables' as *;
@use './mixins' as *;

/***********************************************
 *  Fonts
 ***********************************************/
@font-face {
  font-family: 'Nunito';
  src: url('./font/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoItalic';
  src: url('./font/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/***********************************************
 *  Scroll Bar
 ***********************************************/

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $acc-2;
  border-radius: $rad-1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $acc-2;
}

/***********************************************
 *  Default Styles
 ***********************************************/
html {
  scroll-behavior: smooth;
  body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: $bg;
    color: $txt;
    text-shadow: 1px 1px 1px $shadow;
    main {
      min-height: 100vh;
      padding-bottom: 1em;
      padding-top: 5em;
    }
    h1,
    h2 {
      text-shadow: 2px 2px 2px $shadow;
    }
  }
}

a {
  text-decoration: none;
  color: $txt;
  font-weight: bold;
  transition: $tr-f;
  &:hover {
    color: $acc-2;
  }
}
em {
  font-weight: bold;
  color: $acc-1;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  // text-wrap: ballance;
  margin: 0;
  strong {
    color: $acc-2;
  }
}
li {
  border-radius: $rad-1;
  padding: 0.3em;
  text-shadow: none;
  transition: $tr-f;
  a {
    font-size: 1.5em;
  }
  &:hover {
    @include gradient();
  }
}

section {
  @include flexCenter();
  padding: 1em;
  margin-right: 0;
  margin: auto;
  min-height: 60vh;
  border-radius: $rad-2;
  position: relative;
}

form {
  @include flexCenter();
  flex-direction: column;
  label {
    width: 100%;
    border: none;
  }
  input {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: $rad-2;
    border: none;
    &:focus {
      outline: none;
    }
    &[type='checkbox'] {
      width: auto;
      margin: 1em;
    }
  }
  button {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: $rad-2;
    border: none;
    @include flexCenter();
    &:focus {
      outline: none;
    }
  }
}

/***********************************************
 *  Other
 ***********************************************/
.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 1fr);
}

.button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  @include boxShadow();
}

.button:active {
  color: #666;
  box-shadow:
    inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

.button:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: $shadow;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: $acc-1;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid $acc-1;
}

.button:hover:before {
  top: -35%;
  background-color: $acc-1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: $acc-1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

//   Loader
.loading {
  @include flexCenter();
  span {
    display: inline-block;
    width: 0.5em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }

  span:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: 0.25s;
  }

  span:nth-child(3) {
    animation-delay: 0.5s;
  }
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
