/*-------------------------------------------------------------SCREEN SISES*/
/*-------------------------------------------------------BIG*/
@media only screen and (min-width: 600px) {
  nav {
    .nav-li p {
      display: none;
    }
  }
  footer {
    #contact {
      display: block;
      position: fixed;
      bottom: 0em;
      left: 1em;
    }
    #contact::after {
      content: "";
      background-color: var(--acc-2);
      height: 100px;
      display: block;
      width: 2px;
      margin: 0px auto -15px auto;
    }
  }
}
/*------------------------------------------------------MAX*/
@media only screen and (min-width: 1670px) {
  nav {
    .li-resume {
      display: none;
    }
    .resume::before {
      content: "";
      background-color: var(--acc-2);
      height: 100px;
      display: block;
      width: 2px;
      margin: -5px auto 0px auto;
    }
    .resume {
      display: block;
      position: fixed;
      width: 5em;
      top: 0em;
      right: 0em;
      p {
        margin-top: 1em;
        margin-right: -0.5em;
        transition: var(--tr-f);
      }
      .resume-flip {
        margin-top: 2em;
        transform: rotate(90deg);
      }
    }
    .resume:hover {
      p {
        margin-top: 2em;
      }
    }
  }
}
/*-----------------------------------------------------SMALL*/
@media only screen and (max-width: 600px) {
  nav {
    bottom: 0px;
    left: 0px;
    width: 100vw;
    ul {
      margin: 0em;
      p {
        font-size: 1.5em;
      }
      .nav-li {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
    strong {
      display: none;
    }
  }
  footer {
    margin-bottom: 3em;
    #contact {
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      display: flex;
    }
    a {
      width: 100%;
    }
  }
}
/*-----------------------------------------------------MEDIUM*/
@media only screen and (min-width: 600px) and (max-width: 1670px) {
  nav {
    .nav-ul {
      margin-top: 0em;
    }
  }
}
