$fot-back: #2e2e2d;
$nav-bg: #2d364280;

$shadow: #38353546;

$bg-1: #202938;

$acc-1: #1792df;
$acc-2: #58d68d;

$txt-1: #949494;
$txt-2: #202938;

$button-hover: #539e721f;

$tr-f: 0.1s;
$tr-s: .3s;

$tr-ss: 5s;

$rad-1: 3em;
$rad-2: 0.3em;

footer {
  background: $fot-back;
}
