/*

Name:           ROOT FILE FOR A WEBSITE
Designed By:    Robert Binkowski
Date:           25/2/22

*/
/* --------------------------------------- Imports */
footer {
  background: #2e2e2d;
}

/* ----------------------------------- Variables */
@keyframes bigCircle {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes smallCircle {
  0%, 100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(20px);
  }
}
/*-------------------------------------------------------------SCREEN SISES*/
/*-------------------------------------------------------BIG*/
@media only screen and (min-width: 768px) {
  nav {
    margin: 0 auto 0 auto;
    border-radius: 0.3em;
  }
  nav #expand-notification {
    display: none;
  }
  #welcomeSection .logo {
    display: none;
  }
  #aboutSection {
    flex-direction: row;
  }
  ul {
    display: flex;
  }
  .experience a {
    display: flex;
  }
  footer #contact {
    display: block;
    position: fixed;
    bottom: 0em;
    left: 1em;
  }
}
/*-----------------------------------------------------SMALL*/
@media only screen and (max-width: 767px) {
  nav {
    margin: 0;
    flex-direction: column;
  }
  nav .nav-content {
    margin-top: 2em;
  }
  nav .right-corner {
    padding-bottom: 2em;
  }
  section {
    display: block;
  }
  #aboutSection {
    flex-direction: column;
  }
  #educationSection .grid {
    display: block;
  }
  .experience a {
    display: block;
  }
  #projectsSection .grid {
    display: block;
  }
  #projectsSection .grid .project {
    margin: 1em;
  }
  footer {
    padding-bottom: 6em;
  }
  footer #contact {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    display: flex;
  }
  footer #contact::after {
    display: none;
  }
  footer a {
    width: 100%;
  }
}
/* ------------------------------------ DEFAULT */
html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  background: #202938;
  color: #949494;
  text-shadow: 1px 1px 1px rgba(56, 53, 53, 0.2745098039);
}
html body main {
  min-height: 100vh;
  padding-bottom: 1em;
}
html body h1,
html body h2 {
  text-shadow: 2px 2px 2px rgba(56, 53, 53, 0.2745098039);
}

header nav {
  background-color: rgba(45, 54, 66, 0.5019607843);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #949494;
  font-weight: bold;
  transition: 0.1s;
}
a:hover {
  color: #58d68d;
}

em {
  font-weight: bold;
  color: #1792df;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}
p strong {
  color: #58d68d;
}

/*----------------------------------------------LI*/
li {
  border-radius: 3em;
  padding: 0.3em;
  text-shadow: none;
  transition: 0.1s;
}
li a {
  font-size: 1.5em;
}
li:hover {
  background: radial-gradient(rgba(83, 158, 114, 0.1215686275) 0, rgba(0, 0, 0, 0) 75%);
}

/* --------------------------------------- MAIN */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin-right: 0;
  margin: auto;
  margin-top: 1em;
  min-height: 60vh;
  border-radius: 0.3em;
}
section:not(:first-of-type) {
  max-width: 1300px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
}

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.grid em {
  padding: 0.5em;
}

/* ------------------------------------- BUTTON */
.button {
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  background-color: #58d68d;
  color: #202938;
  border-radius: 3em;
  transition: 0.3s;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
}
.button:hover {
  color: #58d68d;
  border-radius: 0.3em;
  box-shadow: none;
  background: radial-gradient(rgba(83, 158, 114, 0.1215686275) 0, rgba(0, 0, 0, 0) 75%);
}/*# sourceMappingURL=root.css.map */